table {
    border-collapse: collapse;
    width: 100%;
}

td, th {
    border: 1px solid #dddddd;
    text-align: center;
    padding: 8px;
  }

h1 {
  color: #003a82;
}

h2, h3 {
  color: #7414dc;
}

/*
____________________________________________________________________________________________________________

*/

.app {
  display: grid;
  grid-template-columns: 2;
  grid-template-rows: auto;
  grid-template-areas: 
  "explorerImage scoutImage"
  "goudhurstExplorerSummary goudhurstExplorerSummary"
  "goudhurstExplorerHeader"
  "scoutExplorerHeader"
  "scoutExplorerSummary"
  "scheduleHeader"
  "scheduleTable"
  "Footer";
}

.explorerImg {
  grid-area: explorerImage;
  width: 40%;
}

.scoutImg {
  grid-area: scoutImage;
  width: 40%;
}

.goudhurstExplorerHeader {
  grid-area: goudhurstExplorerHeader;
}

.goudhurstExplorerSummary {
  grid-area: goudhurstExplorerSummary;
}
