table {
    border-collapse: collapse;
    width: 100%;
}

td, th {
    border: 1px solid #dddddd;
    text-align: center;
    padding: 8px;
  }

h1 {
  color: #003a82;
}

h2, h3 {
  color: #7414dc;
}

/*
____________________________________________________________________________________________________________

*/

.app {
  display: grid;
  grid-template-columns: auto auto;
  grid-template-rows: 2;
  grid-template-areas: 
  "explorerImage scoutImage"
  "contentContainer contentContainer";
  margin: 10px;
}

.contentContainer {
  grid-area: contentContainer;
  display: grid;
  grid-template-columns: 1;
  grid-template-rows: 7;
  grid-template-areas: 
  "goudhurstExplorerHeader goudhurstExplorerHeader"
  "goudhurstExplorerSummary goudhurstExplorerSummary"
  "scoutExplorerHeader scoutExplorerHeader"
  "scoutExplorerSummary scoutExplorerSummary"
  "scheduleHeader scheduleHeader"
  "scheduleTable scheduleTable"
  "Footer Footer";

}

.explorerImg {
  grid-area: explorerImage;
  justify-content: start;
  align-items: start;
  width: 75%;
  padding: 10px;
  margin-top: 10px;
  margin-left: 10%;
}

.scoutImg {
  grid-area: scoutImage;
  width: 70%;
  padding: 3%;
  padding-left: 15%;
}

.goudhurstExplorerHeader {
  grid-area: goudhurstExplorerHeader;
}

.goudhurstExplorerSummary {
  grid-area: goudhurstExplorerSummary;
}

.scoutExplorerHeader {
  grid-area: scoutExplorerHeader;
}

.scoutExplorerSummary {
  grid-area: scoutExplorerSummary;
}

.scheduleHeader {
  grid-area: scheduleHeader;
}

.scheduleTable {
  grid-area: scheduleTable;
  margin: 10px;
  padding: 10px;
}

.Footer {
  grid-area: Footer;
}

/* Min width of device screen of 1025px, for desktops. */
@media (min-width: 1025px) {
  .app {
    background: darkred;
  }
  
}